<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>New_Dotted_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{333,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,481}}</string>
                <key>sourceSize</key>
                <string>{333,481}</string>
            </dict>
            <key>New_Dotted_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{156,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,565}}</string>
                <key>sourceSize</key>
                <string>{156,565}</string>
            </dict>
            <key>New_Dotted_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,565},{425,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,416}}</string>
                <key>sourceSize</key>
                <string>{425,416}</string>
            </dict>
            <key>New_LevelRef_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,859},{97,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,139}}</string>
                <key>sourceSize</key>
                <string>{97,139}</string>
            </dict>
            <key>New_LevelRef_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,981},{42,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,146}}</string>
                <key>sourceSize</key>
                <string>{42,146}</string>
            </dict>
            <key>New_LevelRef_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,859},{114,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,110}}</string>
                <key>sourceSize</key>
                <string>{114,110}</string>
            </dict>
            <key>New_Matched_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,0},{333,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,478}}</string>
                <key>sourceSize</key>
                <string>{333,478}</string>
            </dict>
            <key>New_Matched_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{150,562}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,562}}</string>
                <key>sourceSize</key>
                <string>{150,562}</string>
            </dict>
            <key>New_Matched_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,558},{423,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,409}}</string>
                <key>sourceSize</key>
                <string>{423,409}</string>
            </dict>
            <key>New_shape1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,0},{214,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,294}}</string>
                <key>sourceSize</key>
                <string>{214,294}</string>
            </dict>
            <key>New_shape1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,859},{89,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,102}}</string>
                <key>sourceSize</key>
                <string>{89,102}</string>
            </dict>
            <key>New_shape1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,0},{89,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,90}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>New_shape1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,90},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>New_shape1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,981},{241,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,43}}</string>
                <key>sourceSize</key>
                <string>{241,43}</string>
            </dict>
            <key>New_shape2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,478},{56,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,120}}</string>
                <key>sourceSize</key>
                <string>{56,120}</string>
            </dict>
            <key>New_shape2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,990},{25,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,189}}</string>
                <key>sourceSize</key>
                <string>{25,189}</string>
            </dict>
            <key>New_shape2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,478},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>New_shape2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,481},{77,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,368}}</string>
                <key>sourceSize</key>
                <string>{77,368}</string>
            </dict>
            <key>New_shape4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,990},{303,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,19}}</string>
                <key>sourceSize</key>
                <string>{303,19}</string>
            </dict>
            <key>New_shape4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,481},{76,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>New_shape4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,534},{423,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,94}}</string>
                <key>sourceSize</key>
                <string>{423,94}</string>
            </dict>
            <key>New_shape4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,534},{325,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,232}}</string>
                <key>sourceSize</key>
                <string>{325,232}</string>
            </dict>
            <key>New_shape4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,294},{283,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,203}}</string>
                <key>sourceSize</key>
                <string>{283,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MCB_1.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbb6b1a50b8911df52735f212f19a132$</string>
            <key>textureFileName</key>
            <string>MCB_1.png</string>
        </dict>
    </dict>
</plist>
