<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>New_Dotted_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,476},{287,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,444}}</string>
                <key>sourceSize</key>
                <string>{287,444}</string>
            </dict>
            <key>New_Dotted_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{214,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,479}}</string>
                <key>sourceSize</key>
                <string>{214,479}</string>
            </dict>
            <key>New_Dotted_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,479},{205,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,479}}</string>
                <key>sourceSize</key>
                <string>{205,479}</string>
            </dict>
            <key>New_LevelRef_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,920},{93,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,144}}</string>
                <key>sourceSize</key>
                <string>{93,144}</string>
            </dict>
            <key>New_LevelRef_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,958},{63,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,138}}</string>
                <key>sourceSize</key>
                <string>{63,138}</string>
            </dict>
            <key>New_LevelRef_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,958},{59,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,134}}</string>
                <key>sourceSize</key>
                <string>{59,134}</string>
            </dict>
            <key>New_Matched_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,34},{281,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,441}}</string>
                <key>sourceSize</key>
                <string>{281,441}</string>
            </dict>
            <key>New_Matched_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{214,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,476}}</string>
                <key>sourceSize</key>
                <string>{214,476}</string>
            </dict>
            <key>New_Matched_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,479},{202,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,477}}</string>
                <key>sourceSize</key>
                <string>{202,477}</string>
            </dict>
            <key>New_shape37_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,472},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>New_shape37_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,357},{115,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,298}}</string>
                <key>sourceSize</key>
                <string>{115,298}</string>
            </dict>
            <key>New_shape37_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,34},{208,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,149}}</string>
                <key>sourceSize</key>
                <string>{208,149}</string>
            </dict>
            <key>New_shape37_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,242},{115,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,298}}</string>
                <key>sourceSize</key>
                <string>{115,298}</string>
            </dict>
            <key>New_shape44_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,920},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>New_shape44_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,0},{161,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,149}}</string>
                <key>sourceSize</key>
                <string>{161,149}</string>
            </dict>
            <key>New_shape44_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,149},{156,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,38}}</string>
                <key>sourceSize</key>
                <string>{156,38}</string>
            </dict>
            <key>New_shape44_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,187},{156,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,38}}</string>
                <key>sourceSize</key>
                <string>{156,38}</string>
            </dict>
            <key>New_shape44_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,0},{165,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,34}}</string>
                <key>sourceSize</key>
                <string>{165,34}</string>
            </dict>
            <key>New_shape44_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{170,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,19}}</string>
                <key>sourceSize</key>
                <string>{170,19}</string>
            </dict>
            <key>New_shape44_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,920},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,34}</string>
            </dict>
            <key>New_shape44_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,472},{171,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,71}}</string>
                <key>sourceSize</key>
                <string>{171,71}</string>
            </dict>
            <key>New_shape44_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,511},{195,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,18}}</string>
                <key>sourceSize</key>
                <string>{195,18}</string>
            </dict>
            <key>New_shape44_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,956},{105,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,59}}</string>
                <key>sourceSize</key>
                <string>{105,59}</string>
            </dict>
            <key>New_shape44_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,956},{105,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,59}}</string>
                <key>sourceSize</key>
                <string>{105,59}</string>
            </dict>
            <key>New_shape45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,920},{17,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,77}}</string>
                <key>sourceSize</key>
                <string>{17,77}</string>
            </dict>
            <key>New_shape45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,920},{17,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,104}}</string>
                <key>sourceSize</key>
                <string>{17,104}</string>
            </dict>
            <key>New_shape45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,669},{196,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,55}}</string>
                <key>sourceSize</key>
                <string>{196,55}</string>
            </dict>
            <key>New_shape45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,472},{197,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,55}}</string>
                <key>sourceSize</key>
                <string>{197,55}</string>
            </dict>
            <key>New_shape45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,845},{174,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,48}}</string>
                <key>sourceSize</key>
                <string>{174,48}</string>
            </dict>
            <key>New_shape45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,643},{202,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,222}}</string>
                <key>sourceSize</key>
                <string>{202,222}</string>
            </dict>
            <key>New_shape45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,997},{184,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,21}}</string>
                <key>sourceSize</key>
                <string>{184,21}</string>
            </dict>
            <key>New_shape45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,225},{200,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,17}}</string>
                <key>sourceSize</key>
                <string>{200,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MCB_6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d876b483cb6d37681abc02277ec8fca3$</string>
            <key>textureFileName</key>
            <string>MCB_6.png</string>
        </dict>
    </dict>
</plist>
