<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>New_Dotted_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,442},{413,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,309}}</string>
                <key>sourceSize</key>
                <string>{413,309}</string>
            </dict>
            <key>New_Dotted_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,0},{385,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,298}}</string>
                <key>sourceSize</key>
                <string>{385,298}</string>
            </dict>
            <key>New_Dotted_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{397,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,442}}</string>
                <key>sourceSize</key>
                <string>{397,442}</string>
            </dict>
            <key>New_LevelRef_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,855},{153,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,113}}</string>
                <key>sourceSize</key>
                <string>{153,113}</string>
            </dict>
            <key>New_LevelRef_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,644},{147,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,114}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>New_LevelRef_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,882},{127,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,142}}</string>
                <key>sourceSize</key>
                <string>{127,142}</string>
            </dict>
            <key>New_Matched_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,0},{413,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,304}}</string>
                <key>sourceSize</key>
                <string>{413,304}</string>
            </dict>
            <key>New_Matched_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,0},{383,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,295}}</string>
                <key>sourceSize</key>
                <string>{383,295}</string>
            </dict>
            <key>New_Matched_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{396,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,440}}</string>
                <key>sourceSize</key>
                <string>{396,440}</string>
            </dict>
            <key>New_shape19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,855},{45,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,26}}</string>
                <key>sourceSize</key>
                <string>{45,26}</string>
            </dict>
            <key>New_shape19_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,965},{45,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>New_shape19_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,436},{208,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,206}}</string>
                <key>sourceSize</key>
                <string>{208,206}</string>
            </dict>
            <key>New_shape19_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,644},{199,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,102}}</string>
                <key>sourceSize</key>
                <string>{199,102}</string>
            </dict>
            <key>New_shape19_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,385},{382,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,22}}</string>
                <key>sourceSize</key>
                <string>{382,22}</string>
            </dict>
            <key>New_shape19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,413},{28,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
            <key>New_shape19_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,913},{68,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,39}}</string>
                <key>sourceSize</key>
                <string>{68,39}</string>
            </dict>
            <key>New_shape19_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,758},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>New_shape19_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,523},{84,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>New_shape19_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,791},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>New_shape19_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,407},{55,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,17}}</string>
                <key>sourceSize</key>
                <string>{55,17}</string>
            </dict>
            <key>New_shape19_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,413},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>New_shape19_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,855},{67,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,153}}</string>
                <key>sourceSize</key>
                <string>{67,153}</string>
            </dict>
            <key>New_shape27_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,952},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>New_shape27_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,965},{67,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,57}}</string>
                <key>sourceSize</key>
                <string>{67,57}</string>
            </dict>
            <key>New_shape27_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,913},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>New_shape27_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,413},{383,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,23}}</string>
                <key>sourceSize</key>
                <string>{383,23}</string>
            </dict>
            <key>New_shape27_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,882},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>New_shape27_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,882},{222,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,131}}</string>
                <key>sourceSize</key>
                <string>{222,131}</string>
            </dict>
            <key>New_shape27_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,855},{166,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,109}}</string>
                <key>sourceSize</key>
                <string>{166,109}</string>
            </dict>
            <key>New_shape30_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,407},{36,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,127}}</string>
                <key>sourceSize</key>
                <string>{36,127}</string>
            </dict>
            <key>New_shape30_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,831},{68,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,82}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>New_shape30_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,843},{173,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,177}}</string>
                <key>sourceSize</key>
                <string>{173,177}</string>
            </dict>
            <key>New_shape30_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,407},{60,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,83}}</string>
                <key>sourceSize</key>
                <string>{60,83}</string>
            </dict>
            <key>New_shape30_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,534},{109,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,113}}</string>
                <key>sourceSize</key>
                <string>{109,113}</string>
            </dict>
            <key>New_shape30_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,407},{116,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,104}}</string>
                <key>sourceSize</key>
                <string>{116,104}</string>
            </dict>
            <key>New_shape30_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,643},{115,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,106}}</string>
                <key>sourceSize</key>
                <string>{115,106}</string>
            </dict>
            <key>New_shape30_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,838},{127,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,80}}</string>
                <key>sourceSize</key>
                <string>{127,80}</string>
            </dict>
            <key>New_shape30_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,831},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>New_shape30_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,623},{66,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,81}}</string>
                <key>sourceSize</key>
                <string>{66,81}</string>
            </dict>
            <key>New_shape30_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,791},{80,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,47}}</string>
                <key>sourceSize</key>
                <string>{80,47}</string>
            </dict>
            <key>New_shape30_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,758},{78,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,39}}</string>
                <key>sourceSize</key>
                <string>{78,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MCB_10.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d96b01caa693a2ab57e48b44edb4a896$</string>
            <key>textureFileName</key>
            <string>MCB_10.png</string>
        </dict>
    </dict>
</plist>
