<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>New_Dotted_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,543},{435,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,424}}</string>
                <key>sourceSize</key>
                <string>{435,424}</string>
            </dict>
            <key>New_Dotted_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,0},{323,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,486}}</string>
                <key>sourceSize</key>
                <string>{323,486}</string>
            </dict>
            <key>New_Dotted_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{229,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,544}}</string>
                <key>sourceSize</key>
                <string>{229,544}</string>
            </dict>
            <key>New_LevelRef_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,398},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
            <key>New_LevelRef_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,921},{92,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,138}}</string>
                <key>sourceSize</key>
                <string>{92,138}</string>
            </dict>
            <key>New_LevelRef_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,409},{64,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,149}}</string>
                <key>sourceSize</key>
                <string>{64,149}</string>
            </dict>
            <key>New_Matched_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,486},{435,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,417}}</string>
                <key>sourceSize</key>
                <string>{435,417}</string>
            </dict>
            <key>New_Matched_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,544},{318,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,480}}</string>
                <key>sourceSize</key>
                <string>{318,480}</string>
            </dict>
            <key>New_Matched_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,0},{229,543}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,543}}</string>
                <key>sourceSize</key>
                <string>{229,543}</string>
            </dict>
            <key>New_shape13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,0},{314,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,222}}</string>
                <key>sourceSize</key>
                <string>{314,222}</string>
            </dict>
            <key>New_shape13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,0},{435,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,204}}</string>
                <key>sourceSize</key>
                <string>{435,204}</string>
            </dict>
            <key>New_shape13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,409},{73,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,79}}</string>
                <key>sourceSize</key>
                <string>{73,79}</string>
            </dict>
            <key>New_shape13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,921},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>New_shape13_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,921},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>New_shape18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,473},{184,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,297}}</string>
                <key>sourceSize</key>
                <string>{184,297}</string>
            </dict>
            <key>New_shape18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,0},{222,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,409}}</string>
                <key>sourceSize</key>
                <string>{222,409}</string>
            </dict>
            <key>New_shape18_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,486},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>New_shape18_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,486},{54,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,67}}</string>
                <key>sourceSize</key>
                <string>{54,67}</string>
            </dict>
            <key>New_shape18_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,921},{96,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,117}}</string>
                <key>sourceSize</key>
                <string>{96,117}</string>
            </dict>
            <key>New_shape3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,314},{87,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,59}}</string>
                <key>sourceSize</key>
                <string>{87,59}</string>
            </dict>
            <key>New_shape3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,401},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>New_shape3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,486},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>New_shape3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,486},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>New_shape3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,314},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>New_shape3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,486},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>New_shape3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,770},{229,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,230}}</string>
                <key>sourceSize</key>
                <string>{229,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MCB_2.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c12d2d99c1541fcaddc9cf336cca026c$</string>
            <key>textureFileName</key>
            <string>MCB_2.png</string>
        </dict>
    </dict>
</plist>
