<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>New_Dotted_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,529},{375,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,287}}</string>
                <key>sourceSize</key>
                <string>{375,287}</string>
            </dict>
            <key>New_Dotted_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{139,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,529}}</string>
                <key>sourceSize</key>
                <string>{139,529}</string>
            </dict>
            <key>New_Dotted_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,0},{499,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,142}}</string>
                <key>sourceSize</key>
                <string>{499,142}</string>
            </dict>
            <key>New_LevelRef_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,904},{138,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,105}}</string>
                <key>sourceSize</key>
                <string>{138,105}</string>
            </dict>
            <key>New_LevelRef_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,47},{44,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,143}}</string>
                <key>sourceSize</key>
                <string>{44,143}</string>
            </dict>
            <key>New_LevelRef_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,206},{155,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,46}}</string>
                <key>sourceSize</key>
                <string>{155,46}</string>
            </dict>
            <key>New_Matched_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,523},{375,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,280}}</string>
                <key>sourceSize</key>
                <string>{375,280}</string>
            </dict>
            <key>New_Matched_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,0},{138,526}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,526}}</string>
                <key>sourceSize</key>
                <string>{138,526}</string>
            </dict>
            <key>New_Matched_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,0},{499,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,139}}</string>
                <key>sourceSize</key>
                <string>{499,139}</string>
            </dict>
            <key>New_shape16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,499},{23,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,63}}</string>
                <key>sourceSize</key>
                <string>{23,63}</string>
            </dict>
            <key>New_shape16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,0},{312,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,206}}</string>
                <key>sourceSize</key>
                <string>{312,206}</string>
            </dict>
            <key>New_shape16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,206},{242,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,160}}</string>
                <key>sourceSize</key>
                <string>{242,160}</string>
            </dict>
            <key>New_shape16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,997},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>New_shape16_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,997},{375,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,24}}</string>
                <key>sourceSize</key>
                <string>{375,24}</string>
            </dict>
            <key>New_shape40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,499},{19,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,66}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>New_shape40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,904},{109,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,97}}</string>
                <key>sourceSize</key>
                <string>{109,97}</string>
            </dict>
            <key>New_shape40_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,904},{114,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,25}}</string>
                <key>sourceSize</key>
                <string>{114,25}</string>
            </dict>
            <key>New_shape40_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,499},{24,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>New_shape40_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,904},{93,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,345}}</string>
                <key>sourceSize</key>
                <string>{93,345}</string>
            </dict>
            <key>New_shape41_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,333},{233,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,79}}</string>
                <key>sourceSize</key>
                <string>{233,79}</string>
            </dict>
            <key>New_shape41_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,519},{237,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,62}}</string>
                <key>sourceSize</key>
                <string>{237,62}</string>
            </dict>
            <key>New_shape41_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,0},{259,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,47}}</string>
                <key>sourceSize</key>
                <string>{259,47}</string>
            </dict>
            <key>New_shape41_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,259},{260,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,56}}</string>
                <key>sourceSize</key>
                <string>{260,56}</string>
            </dict>
            <key>New_shape41_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,0},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>New_shape41_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,252},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MCB_3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a7dad9bf91b7dbe3385c14fc245c2ae$</string>
            <key>textureFileName</key>
            <string>MCB_3.png</string>
        </dict>
    </dict>
</plist>
