<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>New_Dotted_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1130},{480,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,373}}</string>
                <key>sourceSize</key>
                <string>{480,373}</string>
            </dict>
            <key>New_Dotted_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{360,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,560}}</string>
                <key>sourceSize</key>
                <string>{360,560}</string>
            </dict>
            <key>New_Dotted_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,569}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,569}}</string>
                <key>sourceSize</key>
                <string>{202,569}</string>
            </dict>
            <key>New_LevelRef_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1700},{147,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,118}}</string>
                <key>sourceSize</key>
                <string>{147,118}</string>
            </dict>
            <key>New_LevelRef_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1878},{92,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,142}}</string>
                <key>sourceSize</key>
                <string>{92,142}</string>
            </dict>
            <key>New_LevelRef_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1878},{54,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,146}}</string>
                <key>sourceSize</key>
                <string>{54,146}</string>
            </dict>
            <key>New_Matched_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1604},{471,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,373}}</string>
                <key>sourceSize</key>
                <string>{471,373}</string>
            </dict>
            <key>New_Matched_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,573},{359,555}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,555}}</string>
                <key>sourceSize</key>
                <string>{359,555}</string>
            </dict>
            <key>New_Matched_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{200,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,563}}</string>
                <key>sourceSize</key>
                <string>{200,563}</string>
            </dict>
            <key>New_shape36_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1979},{22,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,62}}</string>
                <key>sourceSize</key>
                <string>{22,62}</string>
            </dict>
            <key>New_shape36_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1505},{74,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,98}}</string>
                <key>sourceSize</key>
                <string>{74,98}</string>
            </dict>
            <key>New_shape36_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1505},{74,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,98}}</string>
                <key>sourceSize</key>
                <string>{74,98}</string>
            </dict>
            <key>New_shape36_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1876},{37,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,113}}</string>
                <key>sourceSize</key>
                <string>{37,113}</string>
            </dict>
            <key>New_shape36_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1979},{22,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,63}}</string>
                <key>sourceSize</key>
                <string>{22,63}</string>
            </dict>
            <key>New_shape36_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1700},{124,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,176}}</string>
                <key>sourceSize</key>
                <string>{124,176}</string>
            </dict>
            <key>New_shape36_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,1700},{124,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,176}}</string>
                <key>sourceSize</key>
                <string>{124,176}</string>
            </dict>
            <key>New_shape36_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1505},{64,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,97}}</string>
                <key>sourceSize</key>
                <string>{64,97}</string>
            </dict>
            <key>New_shape36_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1874},{37,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,112}}</string>
                <key>sourceSize</key>
                <string>{37,112}</string>
            </dict>
            <key>New_shape36_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1505},{64,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,97}}</string>
                <key>sourceSize</key>
                <string>{64,97}</string>
            </dict>
            <key>New_shape36_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1979},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>New_shape36_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1984},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>New_shape5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1988},{75,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,43}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>New_shape5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2022},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>New_shape5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1820},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>New_shape5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1697},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>New_shape5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1979},{53,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,63}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>New_shape5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1820},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>New_shape5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1505},{84,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,89}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>New_shape5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1979},{53,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,63}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>New_shape5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1820},{104,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,52}}</string>
                <key>sourceSize</key>
                <string>{104,52}</string>
            </dict>
            <key>New_shape5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1881},{28,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,154}}</string>
                <key>sourceSize</key>
                <string>{28,154}</string>
            </dict>
            <key>New_shape5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1991},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>New_shape6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2026},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>New_shape6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1505},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>New_shape6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1505},{135,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,73}}</string>
                <key>sourceSize</key>
                <string>{135,73}</string>
            </dict>
            <key>New_shape6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1878},{200,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,129}}</string>
                <key>sourceSize</key>
                <string>{200,129}</string>
            </dict>
            <key>New_shape6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2009},{81,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,25}}</string>
                <key>sourceSize</key>
                <string>{81,25}</string>
            </dict>
            <key>New_shape6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1605},{151,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,90}}</string>
                <key>sourceSize</key>
                <string>{151,90}</string>
            </dict>
            <key>New_shape6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1874},{63,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,108}}</string>
                <key>sourceSize</key>
                <string>{63,108}</string>
            </dict>
            <key>New_shape6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{24,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,179}}</string>
                <key>sourceSize</key>
                <string>{24,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MCB_14.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c942057d3bbf789f93ac7076150452f$</string>
            <key>textureFileName</key>
            <string>MCB_14.png</string>
        </dict>
    </dict>
</plist>
