<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>New_Dotted_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,386},{403,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,302}}</string>
                <key>sourceSize</key>
                <string>{403,302}</string>
            </dict>
            <key>New_Dotted_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{271,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,468}}</string>
                <key>sourceSize</key>
                <string>{271,468}</string>
            </dict>
            <key>New_Dotted_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,472},{374,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,385}}</string>
                <key>sourceSize</key>
                <string>{374,385}</string>
            </dict>
            <key>New_LevelRef_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,244},{156,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>New_LevelRef_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,215},{82,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,141}}</string>
                <key>sourceSize</key>
                <string>{82,141}</string>
            </dict>
            <key>New_LevelRef_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,244},{131,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,135}}</string>
                <key>sourceSize</key>
                <string>{131,135}</string>
            </dict>
            <key>New_Matched_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,690},{402,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,300}}</string>
                <key>sourceSize</key>
                <string>{402,300}</string>
            </dict>
            <key>New_Matched_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{269,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,464}}</string>
                <key>sourceSize</key>
                <string>{269,464}</string>
            </dict>
            <key>New_Matched_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{373,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,382}}</string>
                <key>sourceSize</key>
                <string>{373,382}</string>
            </dict>
            <key>New_shape31_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,887},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>New_shape31_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{89,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,211}}</string>
                <key>sourceSize</key>
                <string>{89,211}</string>
            </dict>
            <key>New_shape31_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,949},{67,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,13}}</string>
                <key>sourceSize</key>
                <string>{67,13}</string>
            </dict>
            <key>New_shape31_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,244},{51,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,119}}</string>
                <key>sourceSize</key>
                <string>{51,119}</string>
            </dict>
            <key>New_shape31_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,244},{51,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,119}}</string>
                <key>sourceSize</key>
                <string>{51,119}</string>
            </dict>
            <key>New_shape31_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1005},{392,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,17}}</string>
                <key>sourceSize</key>
                <string>{392,17}</string>
            </dict>
            <key>New_shape31_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,2},{89,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,211}}</string>
                <key>sourceSize</key>
                <string>{89,211}</string>
            </dict>
            <key>New_shape32_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,859},{114,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,104}}</string>
                <key>sourceSize</key>
                <string>{114,104}</string>
            </dict>
            <key>New_shape32_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{269,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,240}}</string>
                <key>sourceSize</key>
                <string>{269,240}</string>
            </dict>
            <key>New_shape32_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,938},{61,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,70}}</string>
                <key>sourceSize</key>
                <string>{61,70}</string>
            </dict>
            <key>New_shape32_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,938},{113,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,32}}</string>
                <key>sourceSize</key>
                <string>{113,32}</string>
            </dict>
            <key>New_shape32_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,887},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>New_shape32_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,859},{89,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,108}}</string>
                <key>sourceSize</key>
                <string>{89,108}</string>
            </dict>
            <key>New_shape33_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,938},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>New_shape33_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,985},{137,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,18}}</string>
                <key>sourceSize</key>
                <string>{137,18}</string>
            </dict>
            <key>New_shape33_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,949},{59,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,12}}</string>
                <key>sourceSize</key>
                <string>{59,12}</string>
            </dict>
            <key>New_shape33_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{8,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,81}}</string>
                <key>sourceSize</key>
                <string>{8,81}</string>
            </dict>
            <key>New_shape33_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,859},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>New_shape33_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,859},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>New_shape33_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,938},{105,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,72}}</string>
                <key>sourceSize</key>
                <string>{105,72}</string>
            </dict>
            <key>New_shape33_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,2},{178,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,210}}</string>
                <key>sourceSize</key>
                <string>{178,210}</string>
            </dict>
            <key>New_shape33_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,972},{373,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,28}}</string>
                <key>sourceSize</key>
                <string>{373,28}</string>
            </dict>
            <key>New_shape33_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,537},{54,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,176}}</string>
                <key>sourceSize</key>
                <string>{54,176}</string>
            </dict>
            <key>New_shape33_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,358},{54,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,177}}</string>
                <key>sourceSize</key>
                <string>{54,177}</string>
            </dict>
            <key>New_shape33_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1010},{81,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,12}}</string>
                <key>sourceSize</key>
                <string>{81,12}</string>
            </dict>
            <key>New_shape33_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1002},{137,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,18}}</string>
                <key>sourceSize</key>
                <string>{137,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MCB_11.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e52eef8d8ed6042b4edc16951f17dd7$</string>
            <key>textureFileName</key>
            <string>MCB_11.png</string>
        </dict>
    </dict>
</plist>
