<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>New_Dotted_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,366},{381,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,290}}</string>
                <key>sourceSize</key>
                <string>{381,290}</string>
            </dict>
            <key>New_Dotted_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,2},{390,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,362}}</string>
                <key>sourceSize</key>
                <string>{390,362}</string>
            </dict>
            <key>New_Dotted_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{468,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,439}}</string>
                <key>sourceSize</key>
                <string>{468,439}</string>
            </dict>
            <key>New_LevelRef_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,462},{158,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,120}}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>New_LevelRef_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,374},{150,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,139}}</string>
                <key>sourceSize</key>
                <string>{150,139}</string>
            </dict>
            <key>New_LevelRef_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{147,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,140}}</string>
                <key>sourceSize</key>
                <string>{147,140}</string>
            </dict>
            <key>New_Matched_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,440},{380,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,286}}</string>
                <key>sourceSize</key>
                <string>{380,286}</string>
            </dict>
            <key>New_Matched_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,2},{387,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,357}}</string>
                <key>sourceSize</key>
                <string>{387,357}</string>
            </dict>
            <key>New_Matched_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{465,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,436}}</string>
                <key>sourceSize</key>
                <string>{465,436}</string>
            </dict>
            <key>New_shape10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,584},{17,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,35}}</string>
                <key>sourceSize</key>
                <string>{17,35}</string>
            </dict>
            <key>New_shape10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,584},{17,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,42}}</string>
                <key>sourceSize</key>
                <string>{17,42}</string>
            </dict>
            <key>New_shape10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,203},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>New_shape10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,168},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>New_shape10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,2},{308,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,68}}</string>
                <key>sourceSize</key>
                <string>{308,68}</string>
            </dict>
            <key>New_shape10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,283},{264,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,82}}</string>
                <key>sourceSize</key>
                <string>{264,82}</string>
            </dict>
            <key>New_shape10_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{380,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,17}}</string>
                <key>sourceSize</key>
                <string>{380,17}</string>
            </dict>
            <key>New_shape10_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,508},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>New_shape10_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,538},{18,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,77}}</string>
                <key>sourceSize</key>
                <string>{18,77}</string>
            </dict>
            <key>New_shape11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,680},{69,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,35}}</string>
                <key>sourceSize</key>
                <string>{69,35}</string>
            </dict>
            <key>New_shape11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,462},{44,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,23}}</string>
                <key>sourceSize</key>
                <string>{44,23}</string>
            </dict>
            <key>New_shape11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,481},{80,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,19}}</string>
                <key>sourceSize</key>
                <string>{80,19}</string>
            </dict>
            <key>New_shape11_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,717},{61,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,16}}</string>
                <key>sourceSize</key>
                <string>{61,16}</string>
            </dict>
            <key>New_shape11_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,487},{43,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,16}}</string>
                <key>sourceSize</key>
                <string>{43,16}</string>
            </dict>
            <key>New_shape11_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,265},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{27,16}</string>
            </dict>
            <key>New_shape11_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,361},{387,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,57}}</string>
                <key>sourceSize</key>
                <string>{387,57}</string>
            </dict>
            <key>New_shape11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,617},{17,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,220}}</string>
                <key>sourceSize</key>
                <string>{17,220}</string>
            </dict>
            <key>New_shape11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,505},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>New_shape11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,238},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>New_shape11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{169,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,74}}</string>
                <key>sourceSize</key>
                <string>{169,74}</string>
            </dict>
            <key>New_shape11_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,543},{125,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,57}}</string>
                <key>sourceSize</key>
                <string>{125,57}</string>
            </dict>
            <key>New_shape11_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,584},{108,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,49}}</string>
                <key>sourceSize</key>
                <string>{108,49}</string>
            </dict>
            <key>New_shape11_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,440},{82,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,39}}</string>
                <key>sourceSize</key>
                <string>{82,39}</string>
            </dict>
            <key>New_shape11_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,508},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>New_shape15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,72},{36,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,94}}</string>
                <key>sourceSize</key>
                <string>{36,94}</string>
            </dict>
            <key>New_shape15_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{72,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,95}}</string>
                <key>sourceSize</key>
                <string>{72,95}</string>
            </dict>
            <key>New_shape15_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,340},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>New_shape15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,443},{86,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,63}}</string>
                <key>sourceSize</key>
                <string>{86,63}</string>
            </dict>
            <key>New_shape15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,283},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>New_shape15_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,367},{174,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,84}}</string>
                <key>sourceSize</key>
                <string>{174,84}</string>
            </dict>
            <key>New_shape15_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,72},{286,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,209}}</string>
                <key>sourceSize</key>
                <string>{286,209}</string>
            </dict>
            <key>New_shape15_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,578},{79,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,41}}</string>
                <key>sourceSize</key>
                <string>{79,41}</string>
            </dict>
            <key>New_shape15_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,502},{79,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,74}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>New_shape15_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,621},{73,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,95}}</string>
                <key>sourceSize</key>
                <string>{73,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MCB_13.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cde79f3aa5fedd633d5dc3225cf1108$</string>
            <key>textureFileName</key>
            <string>MCB_13.png</string>
        </dict>
    </dict>
</plist>
