<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>New_Dotted_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{319,522}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,522}}</string>
                <key>sourceSize</key>
                <string>{319,522}</string>
            </dict>
            <key>New_Dotted_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1046},{441,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,344}}</string>
                <key>sourceSize</key>
                <string>{441,344}</string>
            </dict>
            <key>New_Dotted_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{290,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,410}}</string>
                <key>sourceSize</key>
                <string>{290,410}</string>
            </dict>
            <key>New_LevelRef_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1859},{86,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,142}}</string>
                <key>sourceSize</key>
                <string>{86,142}</string>
            </dict>
            <key>New_LevelRef_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1735},{156,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,122}}</string>
                <key>sourceSize</key>
                <string>{156,122}</string>
            </dict>
            <key>New_LevelRef_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,724},{102,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,143}}</string>
                <key>sourceSize</key>
                <string>{102,143}</string>
            </dict>
            <key>New_Matched_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{313,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,518}}</string>
                <key>sourceSize</key>
                <string>{313,518}</string>
            </dict>
            <key>New_Matched_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1392},{441,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,341}}</string>
                <key>sourceSize</key>
                <string>{441,341}</string>
            </dict>
            <key>New_Matched_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1458},{290,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,406}}</string>
                <key>sourceSize</key>
                <string>{290,406}</string>
            </dict>
            <key>New_shape12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{224,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,132}}</string>
                <key>sourceSize</key>
                <string>{224,132}</string>
            </dict>
            <key>New_shape12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,370},{108,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{108,104}</string>
            </dict>
            <key>New_shape12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,136},{116,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,101}}</string>
                <key>sourceSize</key>
                <string>{116,101}</string>
            </dict>
            <key>New_shape12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,260},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>New_shape12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,260},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>New_shape12_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1866},{24,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,178}}</string>
                <key>sourceSize</key>
                <string>{24,178}</string>
            </dict>
            <key>New_shape12_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,136},{119,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,122}}</string>
                <key>sourceSize</key>
                <string>{119,122}</string>
            </dict>
            <key>New_shape14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,724},{75,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,158}}</string>
                <key>sourceSize</key>
                <string>{75,158}</string>
            </dict>
            <key>New_shape14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1866},{75,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,158}}</string>
                <key>sourceSize</key>
                <string>{75,158}</string>
            </dict>
            <key>New_shape14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,884},{374,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,144}}</string>
                <key>sourceSize</key>
                <string>{374,144}</string>
            </dict>
            <key>New_shape14_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1735},{288,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,295}}</string>
                <key>sourceSize</key>
                <string>{288,295}</string>
            </dict>
            <key>New_shape14_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,2},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>New_shape14_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,239},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>New_shape14_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,78},{196,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,73}}</string>
                <key>sourceSize</key>
                <string>{196,73}</string>
            </dict>
            <key>New_shape17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,1866},{246,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,174}}</string>
                <key>sourceSize</key>
                <string>{246,174}</string>
            </dict>
            <key>New_shape17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,2},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>New_shape17_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>New_shape17_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,476},{148,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,44}}</string>
                <key>sourceSize</key>
                <string>{148,44}</string>
            </dict>
            <key>New_shape17_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,366},{101,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,104}}</string>
                <key>sourceSize</key>
                <string>{101,104}</string>
            </dict>
            <key>New_shape17_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>New_shape17_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,526},{81,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,196}}</string>
                <key>sourceSize</key>
                <string>{81,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MCB_12.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45c7e5fd598da1acd15d28107b205225$</string>
            <key>textureFileName</key>
            <string>MCB_12.png</string>
        </dict>
    </dict>
</plist>
