<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>New_Dotted_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,0},{476,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,384}}</string>
                <key>sourceSize</key>
                <string>{476,384}</string>
            </dict>
            <key>New_Dotted_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{273,527}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,527}}</string>
                <key>sourceSize</key>
                <string>{273,527}</string>
            </dict>
            <key>New_Dotted_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,527},{396,495}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,495}}</string>
                <key>sourceSize</key>
                <string>{396,495}</string>
            </dict>
            <key>New_LevelRef_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,0},{151,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,124}}</string>
                <key>sourceSize</key>
                <string>{151,124}</string>
            </dict>
            <key>New_LevelRef_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,499},{72,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,137}}</string>
                <key>sourceSize</key>
                <string>{72,137}</string>
            </dict>
            <key>New_LevelRef_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,153},{113,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,140}}</string>
                <key>sourceSize</key>
                <string>{113,140}</string>
            </dict>
            <key>New_Matched_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,522},{470,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,379}}</string>
                <key>sourceSize</key>
                <string>{470,379}</string>
            </dict>
            <key>New_Matched_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,0},{270,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,524}}</string>
                <key>sourceSize</key>
                <string>{270,524}</string>
            </dict>
            <key>New_Matched_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,524},{395,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,491}}</string>
                <key>sourceSize</key>
                <string>{395,491}</string>
            </dict>
            <key>New_shape33_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,296},{164,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,167}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>New_shape33_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,151},{109,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,92}}</string>
                <key>sourceSize</key>
                <string>{109,92}</string>
            </dict>
            <key>New_shape33_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,992},{221,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,30}}</string>
                <key>sourceSize</key>
                <string>{221,30}</string>
            </dict>
            <key>New_shape33_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,296},{144,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,178}}</string>
                <key>sourceSize</key>
                <string>{144,178}</string>
            </dict>
            <key>New_shape33_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,270},{68,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,116}}</string>
                <key>sourceSize</key>
                <string>{68,116}</string>
            </dict>
            <key>New_shape33_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,992},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,29}}</string>
                <key>sourceSize</key>
                <string>{79,29}</string>
            </dict>
            <key>New_shape33_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,636},{69,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
            <key>New_shape34_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,476},{28,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,172}}</string>
                <key>sourceSize</key>
                <string>{28,172}</string>
            </dict>
            <key>New_shape34_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,0},{255,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,121}}</string>
                <key>sourceSize</key>
                <string>{255,121}</string>
            </dict>
            <key>New_shape34_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,476},{270,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,46}}</string>
                <key>sourceSize</key>
                <string>{270,46}</string>
            </dict>
            <key>New_shape34_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,992},{28,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,172}}</string>
                <key>sourceSize</key>
                <string>{28,172}</string>
            </dict>
            <key>New_shape34_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,151},{119,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,55}}</string>
                <key>sourceSize</key>
                <string>{119,55}</string>
            </dict>
            <key>New_shape35_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,0},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>New_shape35_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,418},{119,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,72}}</string>
                <key>sourceSize</key>
                <string>{119,72}</string>
            </dict>
            <key>New_shape35_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,293},{116,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,125}}</string>
                <key>sourceSize</key>
                <string>{116,125}</string>
            </dict>
            <key>New_shape35_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,0},{52,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,153}}</string>
                <key>sourceSize</key>
                <string>{52,153}</string>
            </dict>
            <key>New_shape35_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,476},{63,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,42}}</string>
                <key>sourceSize</key>
                <string>{63,42}</string>
            </dict>
            <key>New_shape35_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,474},{25,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,138}}</string>
                <key>sourceSize</key>
                <string>{25,138}</string>
            </dict>
            <key>New_shape35_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,0},{296,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,174}}</string>
                <key>sourceSize</key>
                <string>{296,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MCB_5.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ef57095d132da673dbd49121dc3a76f$</string>
            <key>textureFileName</key>
            <string>MCB_5.png</string>
        </dict>
    </dict>
</plist>
